body {
    background-color: #696969;
}

*::-webkit-scrollbar {
    width: 10px;
}

#pantallamensajes {
    height: 67vh;
    overflow-y: auto;
    border-radius: 10px 20px 15px 10px;
}

#fondo,
#enviar,
#mensaje,
#lista , #listarecibido{
    border-radius: 10px 20px 15px 10px;
}

#menu {
    height: 100px;
    overflow-y: auto;
}

#lista,
#listarecibido {
    display: block;
    background-color: white;
    color: black;
    width: 400px;
    display: block;
    text-align: right;
    float: right;
}