{% extends "layout.html" %}
{% block title %}
CFLACK
{% endblock %}
{% block main %}
<script src="/static/script.js"></script>
<div style="width: 50%;" class="container-fluid p-3 my-3 border bg-light">
    <h3>WELCOME TO {{name}}</h3><br><br>
    <ul id="contenido"></ul>
    <input id="mensaje" type="text" aria-label="manda un mensaje">
    <button id="enviar" type="submit">send</button>
    <ul id="lista"></ul>
</div>
<!--<div style="width: 50%;" class="container-fluid p-3 my-3 border bg-light">

</div>-->
{% endblock %}