{% extends "layout.html" %}
{% block title %}
CFLACK
{% endblock %}
{% block main %}
<center>
    <br><br><h1 style="font-family: 'Rubik Glitch', cursive; color:antiquewhite;">CFLACK</h1>
    <img src="https://d35aaqx5ub95lt.cloudfront.net/images/331a32943ff73be28537dfc7469d5639.svg"><br>
    <h3 style="font-family: 'Rubik Bubbles', cursive;color: antiquewhite;">Enter your name:</h3><br>
    <div class="form-group">
        <input style="width: 500px;" type="text" class="form-control" id="uname" placeholder="Ej. Cinthia">
      </div>
</center>
{% endblock %}